In [1]:
import pandas as pd
import numpy as np
import shutil

## Read and concat both train and test files

In [3]:
df = pd.concat([pd.read_csv("../train_data.csv"), pd.read_csv("../test_data.csv")])

In [5]:
images_dir = "../car_ims_2/car_ims_2/car_ims/"

## We categorize images in 7 classes from 90 classes

In [6]:
classes = {
    'AM General Hummer SUV 2000' : 0, 'Acura Integra Type R 2001' : 0, 
    'Acura RL Sedan 2012' : 0, 'Acura TL Sedan 2012' : 0,
    'Acura TL Type-S 2008' : 0, 'Acura TSX Sedan 2012' : 0, 'Acura ZDX Hatchback 2012' : 0,
    
    'Chevrolet Avalanche Crew Cab 2012' : 1,
    'Chevrolet Camaro Convertible 2012' : 1, 'Chevrolet Cobalt SS 2010' : 1,
    'Chevrolet Corvette Convertible 2012' : 1,
    'Chevrolet Corvette Ron Fellows Edition Z06 2007' : 1,
    'Chevrolet Corvette ZR1 2012' : 1, 'Chevrolet Express Cargo Van 2007' : 1,
    'Chevrolet Express Van 2007' : 1, 'Chevrolet HHR SS 2010' : 1,
    'Chevrolet Impala Sedan 2007' : 1,
    'Chevrolet Malibu Hybrid Sedan 2010' : 1,
    'Chevrolet Malibu Sedan 2007' : 1, 'Chevrolet Monte Carlo Coupe 2007' : 1,
    'Chevrolet Silverado 1500 Classic Extended Cab 2007' : 1,
    'Chevrolet Silverado 1500 Extended Cab 2012' : 1,
    'Chevrolet Silverado 1500 Hybrid Crew Cab 2012' : 1,
    'Chevrolet Silverado 1500 Regular Cab 2012' : 1,
    'Chevrolet Silverado 2500HD Regular Cab 2012' : 1,
    
    'Audi 100 Sedan 1994' : 2,
    'Audi 100 Wagon 1994' : 2, 'Audi A5 Coupe 2012' : 2, 'Audi R8 Coupe 2012' : 2,
    'Audi RS 4 Convertible 2008' : 2, 'Audi S4 Sedan 2007' : 2,
    'Audi S4 Sedan 2012' : 2, 'Audi S5 Convertible 2012' : 2,
    'Audi S5 Coupe 2012' : 2, 'Audi S6 Sedan 2011' : 2,
    'Audi TT Hatchback 2011' : 2, 'Audi TT RS Coupe 2012' : 2,
    'Audi TTS Coupe 2012' : 2, 'Audi V8 Sedan 1994' : 2,
    
    'BMW 1 Series Convertible 2012' : 3, 'BMW 1 Series Coupe 2012' : 3,
    'BMW 3 Series Sedan 2012' : 3, 'BMW 3 Series Wagon 2012' : 3,
    'BMW 6 Series Convertible 2007' : 3, 'BMW ActiveHybrid 5 Sedan 2012' : 3,
    'BMW M3 Coupe 2012' : 3, 'BMW M5 Sedan 2010' : 3,
    'BMW M6 Convertible 2010' : 3, 'BMW X3 SUV 2012' : 3, 'BMW X5 SUV 2007' : 3,
    'BMW X6 SUV 2012' : 3, 'BMW Z4 Convertible 2012' : 3,
    
    'Ford E-Series Wagon Van 2012' : 4,
    'Ford Edge SUV 2012' : 4, 'Ford Expedition EL SUV 2009' : 4,
    'Ford F-150 Regular Cab 2007' : 4, 'Ford F-150 Regular Cab 2012' : 4,
    'Ford F-450 Super Duty Crew Cab 2012' : 4, 'Ford Fiesta Sedan 2012' : 4,
    'Ford Focus Sedan 2007' : 4, 'Ford Freestar Minivan 2007' : 4,
    'Ford GT Coupe 2006' : 4, 'Ford Mustang Convertible 2007' : 4,
    'Ford Ranger SuperCab 2011' : 4,
    
    
    'Hyundai Accent Sedan 2012' : 5,
    'Hyundai Azera Sedan 2012' : 5, 'Hyundai Elantra Sedan 2007' : 5,
    'Hyundai Elantra Touring Hatchback 2012' : 5,
    'Hyundai Genesis Sedan 2012' : 5, 'Hyundai Santa Fe SUV 2012' : 5,
    'Hyundai Sonata Hybrid Sedan 2012' : 5, 'Hyundai Sonata Sedan 2012' : 5,
    'Hyundai Tucson SUV 2012' : 5, 'Hyundai Veloster Hatchback 2012' : 5,
    'Hyundai Veracruz SUV 2012' : 5,
    
    'Dodge Caliber Wagon 2007' : 6,
    'Dodge Caliber Wagon 2012' : 6, 'Dodge Caravan Minivan 1997' : 6,
    'Dodge Challenger SRT8 2011' : 6, 'Dodge Charger SRT-8 2009' : 6,
    'Dodge Charger Sedan 2012' : 6, 'Dodge Dakota Club Cab 2007' : 6,
    'Dodge Dakota Crew Cab 2010' : 6, 'Dodge Durango SUV 2007' : 6,
    'Dodge Durango SUV 2012': 6, 'Dodge Journey SUV 2012' : 6,
    'Dodge Magnum Wagon 2008' : 6, 'Dodge Ram Pickup 3500 Crew Cab 2010' : 6,
    'Dodge Ram Pickup 3500 Quad Cab 2009' : 6,
    'Dodge Sprinter Cargo Van 2009' : 6
}

In [ ]:
images_list = open("E:/files.txt", "w")
for i, row in df.iterrows():
    if row['class'] in classes:
        shutil.copy(images_dir + row['filename'], "E:/yolov5/" + row['filename'])
        
        images_list.write("E:/yolov5/" + row['filename'] + "\n")
        
        image_width = row['width']
        image_height = row['height']
        
        
        center_x = round(((row['xmax'] - row['xmin']) / 2) / image_width, 5)
        center_y = round(((row['ymax'] - row['ymin']) / 2) / image_height, 5)
        
        width = round((row['xmax'] - center_x) / image_width, 5)
        height = round((row['ymax'] - center_y) / image_height, 5)
        
        class_index = classes[row['class']]
        
        text_filename = row['filename'].replace(".jpg", ".txt")
        with open("E:/yolov5/" + text_filename, "w") as file:
            file.write(f"{class_index} {center_x} {center_y} {width} {height}")
            
images_list.close()

In [ ]:
labels = ["Acura", "Chevrolet", "Audi", "BMW", "Ford", "Hyundai", "Dodge"]